## Webscrawling

- [BeautifulSoup](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)

In the ipython you can use

```ipython
!pip install beautifulsoup4
```

In [3]:
import requests
from bs4 import BeautifulSoup

In [1]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /Users/linquanma/opt/anaconda3/lib/python3.8/site-packages (4.9.1)
Requirement already satisfied: soupsieve>1.2 in /Users/linquanma/opt/anaconda3/lib/python3.8/site-packages (from beautifulsoup4) (2.0.1)

## Simple html

Here is one example of html file, how to extract these item? Coffee, Tea, Coke

```html
<html>
    <body>
        <h1>Welcome to My Website</h1>
        <ul>
            <li>Coffee</li>
            <li>Tea</li>
            <li>Coke</li>
        </ul>
    </body>
</html>
```

Imagine we want to get the items in the list. The ul tag indicates an unordered list. We’ll then want to get each list item (list items are in li tags). Specifically, we’ll want to extract the text inside each list item. To do this, we’ll use the following code, where `example` is the HTML of the page.



```python
soup = BeautifulSoup(example, 'html.parser')
items = soup.find("ul").find_all("li")
```

You’ll notice that items is a list of three items, since there are three list items in the unordered list. You’ll also see that items[0].text will give you the text of the first list item!

In [4]:
example = """
<html>
    <body>
        <h1>Welcome to My Website</h1>
        <ul>
            <li>Coffee</li>
            <li test = 'heheda'>Tea</li>
            <li favorate = 'hehe'>
                <span style="color:blue">Coke</span>
            </li>
        </ul>
    </body>
</html>
"""

soup = BeautifulSoup(example, 'html.parser')
items = soup.find("ul").find_all("li")

In [8]:
soup.find("ul").find_all("li")

[<li>Coffee</li>,
 <li test="heheda">Tea</li>,
 <li favorate="hehe">
 <span style="color:blue">Coke</span>
 </li>]

In [9]:
items[2].text

'\nCoke\n'

In [11]:
items[2].text.replace('\n', '')

'Coke'

In [12]:
it = []
for item in items:
    it.append(item.text.strip('\n'))

In [13]:
it

['Coffee', 'Tea', 'Coke']

## Course website scrapping

| Time         | Food                                   |   Calorie |
| :----------- | :------------------------------------- | --------: |
| breakfast    | egg, milk, cereal, avocado             |       600 |
| lunch        | chicken breast, brown rice, lettuce    |       700 |
| dinner       | steak, sweet potato, broccoli          |       800 |


The homepage [https://mlqmlq.github.io/STAT628/pages/d8.html](https://mlqmlq.github.io/STAT628/pages/d8.html) has a table which shows above, how do we get all the food and calorie from this table?

The following are the source code for this table. Which can use google chrom `Inspect` or `View Page Source` to check

```html
<table rules="groups">
  <thead>
    <tr>
      <th style="text-align: left">Time</th>
      <th style="text-align: left">Food</th>
      <th style="text-align: right">Calorie</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align: left">breakfast</td>
      <td style="text-align: left">egg, milk, cereal, avocado</td>
      <td style="text-align: right">600</td>
    </tr>
    <tr>
      <td style="text-align: left">lunch</td>
      <td style="text-align: left">chicken breast, brown rice, lettuce</td>
      <td style="text-align: right">700</td>
    </tr>
    <tr>
      <td style="text-align: left">dinner</td>
      <td style="text-align: left">steak, sweet potato, broccoli</td>
      <td style="text-align: right">800</td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td style="text-align: left"> </td>
      <td style="text-align: left"> </td>
      <td style="text-align: right"> </td>
    </tr>
  </tbody>
</table>
```

We need to use `request` to ask python to look through the webpage, and `BeautifulSoup` to parse the html text for us.

Sometimes we may see [404 page](http://mlqmlq.github.io/stat628/pages/notes0309.html), we can use `*.status_code` to check, here are the list of [status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)

In [14]:
url = "https://mlqmlq.github.io/STAT628/pages/d8.html"
req_page = requests.get(url)

In [15]:
req_page.status_code ## Success

200

In [16]:
req_page.content ## Raw contents

b'\n<!DOCTYPE html>\n<html lang="en">\n  <head>\n    <meta charset="utf-8">\n    <title>Discussion 8</title>\n    <meta name="author" content="Linquan Ma">\n\n    <!-- Enable responsive viewport -->\n    <meta name="viewport" content="width=device-width, initial-scale=1.0">\n\n    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->\n    <!--[if lt IE 9]>\n      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>\n    <![endif]-->\n\n    <!-- Le styles -->\n    <link href="http://mlqmlq.github.io/STAT628/assets/themes/twitter/bootstrap/css/bootstrap.2.2.2.min.css" rel="stylesheet">\n    <link href="http://mlqmlq.github.io/STAT628/assets/themes/twitter/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">\n    <link href="http://mlqmlq.github.io/STAT628/assets/themes/twitter/css/main.css" rel="stylesheet" type="text/css" media="all">\n\n    <!-- Le fav and touch icons -->\n\n    <!-- atom & rss feed -->\n    <link href="http://mlqmlq.github.io/STAT628nil" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">\n    <link href="http://mlqmlq.github.io/STAT628nil" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">\n\n  </head>\n\n  <body>\n    <div class="navbar">\n      <div class="navbar-inner">\n        <div class="container-narrow">\n          <a class="brand" href="http://mlqmlq.github.io/STAT628">Data Science Practicum - STAT 628 - Fall 2020</a>\n          <ul class="nav">\n              <li><a href="http://mlqmlq.github.io/STAT628/pages/schedule.html">schedule</a></li>\n          </ul>\n\n        </div>\n      </div>\n    </div>\n\n    <div class="container-narrow">\n\n      <div class="content">\n        \n<div class="page-header">\n  <h2>Discussion 8 </h2>\n</div>\n\n<div class="row-fluid">\n  <div class="span12">\n    <h2 id="webcrawling">Webcrawling</h2>\n<hr />\n\n<p>The contents are from <a href="https://cs.brown.edu/courses/csci1951-a/">Brown CS1951A</a>.</p>\n\n<ul>\n  <li><a href="https://www.analyticsvidhya.com/blog/2017/03/beginners-guide-on-web-scraping-in-r-using-rvest-with-hands-on-knowledge/">R version</a></li>\n</ul>\n\n<h3 id="example">Example</h3>\n\n<table rules="groups">\n  <thead>\n    <tr>\n      <th style="text-align: left">Time</th>\n      <th style="text-align: left">Food</th>\n      <th style="text-align: right">Calorie</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td style="text-align: left">breakfast</td>\n      <td style="text-align: left">egg, milk, cereal, avocado</td>\n      <td style="text-align: right">600</td>\n    </tr>\n    <tr>\n      <td style="text-align: left">lunch</td>\n      <td style="text-align: left">chicken breast, brown rice, lettuce</td>\n      <td style="text-align: right">700</td>\n    </tr>\n    <tr>\n      <td style="text-align: left">dinner</td>\n      <td style="text-align: left">steak, sweet potato, broccoli</td>\n      <td style="text-align: right">800</td>\n    </tr>\n  </tbody>\n  <tbody>\n    <tr>\n      <td style="text-align: left">\xc2\xa0</td>\n      <td style="text-align: left">\xc2\xa0</td>\n      <td style="text-align: right">\xc2\xa0</td>\n    </tr>\n  </tbody>\n</table>\n\n<p>The following are the source code for this table.</p>\n\n<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nt">&lt;table</span> <span class="na">rules=</span><span class="s">"groups"</span><span class="nt">&gt;</span>\n  <span class="nt">&lt;thead&gt;</span>\n    <span class="nt">&lt;tr&gt;</span>\n      <span class="nt">&lt;th</span> <span class="na">style=</span><span class="s">"text-align: left"</span><span class="nt">&gt;</span>Time<span class="nt">&lt;/th&gt;</span>\n      <span class="nt">&lt;th</span> <span class="na">style=</span><span class="s">"text-align: left"</span><span class="nt">&gt;</span>Food<span class="nt">&lt;/th&gt;</span>\n      <span class="nt">&lt;th</span> <span class="na">style=</span><span class="s">"text-align: right"</span><span class="nt">&gt;</span>Calorie<span class="nt">&lt;/th&gt;</span>\n    <span class="nt">&lt;/tr&gt;</span>\n  <span class="nt">&lt;/thead&gt;</span>\n  <span class="nt">&lt;tbody&gt;</span>\n    <span class="nt">&lt;tr&gt;</span>\n      <span class="nt">&lt;td</span> <span class="na">style=</span><span class="s">"text-align: left"</span><span class="nt">&gt;</span>breakfast<span class="nt">&lt;/td&gt;</span>\n      <span class="nt">&lt;td</span> <span class="na">style=</span><span class="s">"text-align: left"</span><span class="nt">&gt;</span>egg, milk, cereal, avocado<span class="nt">&lt;/td&gt;</span>\n      <span class="nt">&lt;td</span> <span class="na">style=</span><span class="s">"text-align: right"</span><span class="nt">&gt;</span>600<span class="nt">&lt;/td&gt;</span>\n    <span class="nt">&lt;/tr&gt;</span>\n    <span class="nt">&lt;tr&gt;</span>\n      <span class="nt">&lt;td</span> <span class="na">style=</span><span class="s">"text-align: left"</span><span class="nt">&gt;</span>lunch<span class="nt">&lt;/td&gt;</span>\n      <span class="nt">&lt;td</span> <span class="na">style=</span><span class="s">"text-align: left"</span><span class="nt">&gt;</span>chicken breast, brown rice, lettuce<span class="nt">&lt;/td&gt;</span>\n      <span class="nt">&lt;td</span> <span class="na">style=</span><span class="s">"text-align: right"</span><span class="nt">&gt;</span>700<span class="nt">&lt;/td&gt;</span>\n    <span class="nt">&lt;/tr&gt;</span>\n    <span class="nt">&lt;tr&gt;</span>\n      <span class="nt">&lt;td</span> <span class="na">style=</span><span class="s">"text-align: left"</span><span class="nt">&gt;</span>dinner<span class="nt">&lt;/td&gt;</span>\n      <span class="nt">&lt;td</span> <span class="na">style=</span><span class="s">"text-align: left"</span><span class="nt">&gt;</span>steak, sweet potato, broccoli<span class="nt">&lt;/td&gt;</span>\n      <span class="nt">&lt;td</span> <span class="na">style=</span><span class="s">"text-align: right"</span><span class="nt">&gt;</span>800<span class="nt">&lt;/td&gt;</span>\n    <span class="nt">&lt;/tr&gt;</span>\n  <span class="nt">&lt;/tbody&gt;</span>\n  <span class="nt">&lt;tbody&gt;</span>\n    <span class="nt">&lt;tr&gt;</span>\n      <span class="nt">&lt;td</span> <span class="na">style=</span><span class="s">"text-align: left"</span><span class="nt">&gt;</span> <span class="nt">&lt;/td&gt;</span>\n      <span class="nt">&lt;td</span> <span class="na">style=</span><span class="s">"text-align: left"</span><span class="nt">&gt;</span> <span class="nt">&lt;/td&gt;</span>\n      <span class="nt">&lt;td</span> <span class="na">style=</span><span class="s">"text-align: right"</span><span class="nt">&gt;</span> <span class="nt">&lt;/td&gt;</span>\n    <span class="nt">&lt;/tr&gt;</span>\n  <span class="nt">&lt;/tbody&gt;</span>\n<span class="nt">&lt;/table&gt;</span>\n</code></pre></div></div>\n\n<p>Now lets\xe2\x80\x99 use <a href="https://www.crummy.com/software/BeautifulSoup/bs4/doc/#installing-beautiful-soup">BeautifulSoup</a> to parse the html.</p>\n\n<ul>\n  <li><a href="/STAT628/assets/notebooks/webcrawling.ipynb">Jupyter notebook</a></li>\n</ul>\n\n<hr />\n\n\n  </div>\n</div>\n\n<script type="text/javascript"\n        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS_CHTML"></script>\n<script type="text/x-mathjax-config">\nMathJax.Hub.Config({\ntex2jax: {\ninlineMath: [[\'$\',\'$\'], [\'\\\\(\',\'\\\\)\']],\nprocessEscapes: true},\njax: ["input/TeX","input/MathML","input/AsciiMath","output/CommonHTML"],\nextensions: ["tex2jax.js","mml2jax.js","asciimath2jax.js","MathMenu.js","MathZoom.js","AssistiveMML.js", "[Contrib]/a11y/accessibility-menu.js"],\nTeX: {\nextensions: ["AMSmath.js","AMSsymbols.js","noErrors.js","noUndefined.js"],\nequationNumbers: {\nautoNumber: "AMS"\n}\n}\n});\n</script>\n      </div>\n      <hr>\n      <footer>\n        <p>\n          <!-- start of footer -->\n          Fall 2020 &nbsp;-&nbsp;\n          <a href="http://mlqmlq.github.io">Linquan Ma</a>\n          <!-- end of footer -->\n        </small></p>\n      </footer>\n\n    </div>\n\n    \n  </body>\n</html>\n\n'

In [17]:
page_content = req_page.content
page = BeautifulSoup(page_content, 'html.parser') ## Use beacutiful to parse the html, so that it will be easy to manipulate the webpage
page

<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8"/>
<title>Discussion 8</title>
<meta content="Linquan Ma" name="author"/>
<!-- Enable responsive viewport -->
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<!-- Le styles -->
<link href="http://mlqmlq.github.io/STAT628/assets/themes/twitter/bootstrap/css/bootstrap.2.2.2.min.css" rel="stylesheet"/>
<link href="http://mlqmlq.github.io/STAT628/assets/themes/twitter/css/style.css?body=1" media="all" rel="stylesheet" type="text/css"/>
<link href="http://mlqmlq.github.io/STAT628/assets/themes/twitter/css/main.css" media="all" rel="stylesheet" type="text/css"/>
<!-- Le fav and touch icons -->
<!-- atom & rss feed -->
<link href="http://mlqmlq.github.io/STAT628nil" rel="alternate" title="Sitewide ATOM Feed" type="application/atom+xml"/>
<link href="http://mlqmlq.github.io/STAT628nil" rel="alternate" title="Sitewide RSS Feed" type="application/rss+xml"/>
</head>
<body>
<div class="navbar">
<div class="navbar-inner">
<div class="container-narrow">
<a class="brand" href="http://mlqmlq.github.io/STAT628">Data Science Practicum - STAT 628 - Fall 2020</a>
<ul class="nav">
<li><a href="http://mlqmlq.github.io/STAT628/pages/schedule.html">schedule</a></li>
</ul>
</div>
</div>
</div>
<div class="container-narrow">
<div class="content">
<div class="page-header">
<h2>Discussion 8 </h2>
</div>
<div class="row-fluid">
<div class="span12">
<h2 id="webcrawling">Webcrawling</h2>
<hr/>
<p>The contents are from <a href="https://cs.brown.edu/courses/csci1951-a/">Brown CS1951A</a>.</p>
<ul>
<li><a href="https://www.analyticsvidhya.com/blog/2017/03/beginners-guide-on-web-scraping-in-r-using-rvest-with-hands-on-knowledge/">R version</a></li>
</ul>
<h3 id="example">Example</h3>
<table rules="groups">
<thead>
<tr>
<th style="text-align: left">Time</th>
<th style="text-align: left">Food</th>
<th style="text-align: right">Calorie</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align: left">breakfast</td>
<td style="text-align: left">egg, milk, cereal, avocado</td>
<td style="text-align: right">600</td>
</tr>
<tr>
<td style="text-align: left">lunch</td>
<td style="text-align: left">chicken breast, brown rice, lettuce</td>
<td style="text-align: right">700</td>
</tr>
<tr>
<td style="text-align: left">dinner</td>
<td style="text-align: left">steak, sweet potato, broccoli</td>
<td style="text-align: right">800</td>
</tr>
</tbody>
<tbody>
<tr>
<td style="text-align: left"> </td>
<td style="text-align: left"> </td>
<td style="text-align: right"> </td>
</tr>
</tbody>
</table>
<p>The following are the source code for this table.</p>
<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nt">&lt;table</span> <span class="na">rules=</span><span class="s">"groups"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;thead&gt;</span>
    <span class="nt">&lt;tr&gt;</span>
      <span class="nt">&lt;th</span> <span class="na">style=</span><span class="s">"text-align: left"</span><span class="nt">&gt;</span>Time<span class="nt">&lt;/th&gt;</span>
      <span class="nt">&lt;th</span> <span class="na">style=</span><span class="s">"text-align: left"</span><span class="nt">&gt;</span>Food<span class="nt">&lt;/th&gt;</span>
      <span class="nt">&lt;th</span> <span class="na">style=</span><span class="s">"text-align: right"</span><span class="nt">&gt;</span>Calorie<span class="nt">&lt;/th&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
  <span class="nt">&lt;/thead&gt;</span>
  <span class="nt">&lt;tbody&gt;</span>
    <span class="nt">&lt;tr&gt;</span>
      <span class="nt">&lt;td</span> <span class="na">style=</span><span class="s">"text-align: left"</span><span class="nt">&gt;</span>breakfast<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td</span> <span class="na">style=</span><span class="s">"text-align: left"</span><span class="nt">&gt;</span>egg, milk, cereal, avocado<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td</span> <span class="na">style=</span><span class="s">"text-align: right"</span><span class="nt">&gt;</span>600<span class="nt">&lt;/td&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
    <span class="nt">&lt;tr&gt;</span>
      <span class="nt">&lt;td</span> <span class="na">style=</span><span class="s">"text-align: left"</span><span class="nt">&gt;</span>lunch<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td</span> <span class="na">style=</span><span class="s">"text-align: left"</span><span class="nt">&gt;</span>chicken breast, brown rice, lettuce<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td</span> <span class="na">style=</span><span class="s">"text-align: right"</span><span class="nt">&gt;</span>700<span class="nt">&lt;/td&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
    <span class="nt">&lt;tr&gt;</span>
      <span class="nt">&lt;td</span> <span class="na">style=</span><span class="s">"text-align: left"</span><span class="nt">&gt;</span>dinner<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td</span> <span class="na">style=</span><span class="s">"text-align: left"</span><span class="nt">&gt;</span>steak, sweet potato, broccoli<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td</span> <span class="na">style=</span><span class="s">"text-align: right"</span><span class="nt">&gt;</span>800<span class="nt">&lt;/td&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
  <span class="nt">&lt;/tbody&gt;</span>
  <span class="nt">&lt;tbody&gt;</span>
    <span class="nt">&lt;tr&gt;</span>
      <span class="nt">&lt;td</span> <span class="na">style=</span><span class="s">"text-align: left"</span><span class="nt">&gt;</span> <span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td</span> <span class="na">style=</span><span class="s">"text-align: left"</span><span class="nt">&gt;</span> <span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td</span> <span class="na">style=</span><span class="s">"text-align: right"</span><span class="nt">&gt;</span> <span class="nt">&lt;/td&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
  <span class="nt">&lt;/tbody&gt;</span>
<span class="nt">&lt;/table&gt;</span>
</code></pre></div></div>
<p>Now lets’ use <a href="https://www.crummy.com/software/BeautifulSoup/bs4/doc/#installing-beautiful-soup">BeautifulSoup</a> to parse the html.</p>
<ul>
<li><a href="/STAT628/assets/notebooks/webcrawling.ipynb">Jupyter notebook</a></li>
</ul>
<hr/>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS_CHTML" type="text/javascript"></script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
tex2jax: {
inlineMath: [['$','$'], ['\\(','\\)']],
processEscapes: true},
jax: ["input/TeX","input/MathML","input/AsciiMath","output/CommonHTML"],
extensions: ["tex2jax.js","mml2jax.js","asciimath2jax.js","MathMenu.js","MathZoom.js","AssistiveMML.js", "[Contrib]/a11y/accessibility-menu.js"],
TeX: {
extensions: ["AMSmath.js","AMSsymbols.js","noErrors.js","noUndefined.js"],
equationNumbers: {
autoNumber: "AMS"
}
}
});
</script>
</div>
<hr/>
<footer>
<p>
<!-- start of footer -->
          Fall 2020  -
          <a href="http://mlqmlq.github.io">Linquan Ma</a>
<!-- end of footer -->
</p></footer></div></body></html>

In [37]:
page.find("table")

<table rules="groups">
<thead>
<tr>
<th style="text-align: left">Time</th>
<th style="text-align: left">Food</th>
<th style="text-align: right">Calorie</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align: left">breakfast</td>
<td style="text-align: left">egg, milk, cereal, avocado</td>
<td style="text-align: right">600</td>
</tr>
<tr>
<td style="text-align: left">lunch</td>
<td style="text-align: left">chicken breast, brown rice, lettuce</td>
<td style="text-align: right">700</td>
</tr>
<tr>
<td style="text-align: left">dinner</td>
<td style="text-align: left">steak, sweet potato, broccoli</td>
<td style="text-align: right">800</td>
</tr>
</tbody>
<tbody>
<tr>
<td style="text-align: left"> </td>
<td style="text-align: left"> </td>
<td style="text-align: right"> </td>
</tr>
</tbody>
</table>

In [18]:
page.find_all("table")

[<table rules="groups">
 <thead>
 <tr>
 <th style="text-align: left">Time</th>
 <th style="text-align: left">Food</th>
 <th style="text-align: right">Calorie</th>
 </tr>
 </thead>
 <tbody>
 <tr>
 <td style="text-align: left">breakfast</td>
 <td style="text-align: left">egg, milk, cereal, avocado</td>
 <td style="text-align: right">600</td>
 </tr>
 <tr>
 <td style="text-align: left">lunch</td>
 <td style="text-align: left">chicken breast, brown rice, lettuce</td>
 <td style="text-align: right">700</td>
 </tr>
 <tr>
 <td style="text-align: left">dinner</td>
 <td style="text-align: left">steak, sweet potato, broccoli</td>
 <td style="text-align: right">800</td>
 </tr>
 </tbody>
 <tbody>
 <tr>
 <td style="text-align: left"> </td>
 <td style="text-align: left"> </td>
 <td style="text-align: right"> </td>
 </tr>
 </tbody>
 </table>]

In [19]:
table_part = page.find("table")

In [20]:
table_part.find_all("th")

[<th style="text-align: left">Time</th>,
 <th style="text-align: left">Food</th>,
 <th style="text-align: right">Calorie</th>]

In [24]:
table_part.find_all("td")

[<td style="text-align: left">breakfast</td>,
 <td style="text-align: left">egg, milk, cereal, avocado</td>,
 <td style="text-align: right">600</td>,
 <td style="text-align: left">lunch</td>,
 <td style="text-align: left">chicken breast, brown rice, lettuce</td>,
 <td style="text-align: right">700</td>,
 <td style="text-align: left">dinner</td>,
 <td style="text-align: left">steak, sweet potato, broccoli</td>,
 <td style="text-align: right">800</td>,
 <td style="text-align: left"> </td>,
 <td style="text-align: left"> </td>,
 <td style="text-align: right"> </td>]

In [25]:
import numpy as np
import pandas as pd
content = [x.text for x in table_part.find_all("td")]
values = np.array(content[:9]).reshape(3,3)
values

array([['breakfast', 'egg, milk, cereal, avocado', '600'],
       ['lunch', 'chicken breast, brown rice, lettuce', '700'],
       ['dinner', 'steak, sweet potato, broccoli', '800']], dtype='<U35')

In [26]:
index = [x.text for x in table_part.find_all("th")]
pd.DataFrame(data=values, columns=index)

        Time                                 Food Calorie
0  breakfast           egg, milk, cereal, avocado     600
1      lunch  chicken breast, brown rice, lettuce     700
2     dinner        steak, sweet potato, broccoli     800

## Practice

This is from [Brown cs1915A scraping](https://cs.brown.edu/courses/csci1951-a/assignments/scraping.html)

To get started, we’re going to want to collect some data on the most active stocks in the market. Conveniently, Yahoo Finance [publishes this exact data](https://finance.yahoo.com/most-active). To collect this data, you’ll make use of web scraping.

For purposes of this assignment, we've made a copy of this page to keep the data static. Note, some of the data in our static copy is intentionally modified from real stock data to ensure you've handled edge cases. As such, you will scrape from this URL: [https://cs.brown.edu/courses/csci1951-a/resources/yahoo_finance.html](https://cs.brown.edu/courses/csci1951-a/resources/yahoo_finance.html)

Before scraping, you'll need your code to access this webpage. You should make use of the `request` library to make an HTTP request and collect the HTML. If you're not familar with the `request` library, you can read about it [here](http://docs.python-requests.org/en/master).

Once you have accessed the HTML and assigned it to some variable, you'll want to scrape it, collecting the following for each stock in the table.

* company name
* price
* market cap
* percentage daily change

You'll use Beautiful Soup, a Python package, to scrape the HTML. This will require looking at the HTML structure of the Yahoo Finance page. You can select various HTML elements on a page by tag name, class name, and/or id. Using [inspect element](https://zapier.com/blog/inspect-element-tutorial/) on your web browser, you can check what HTML tags and classes contain the relevant information.

In [29]:
"""Your code here"""
url = "https://cs.brown.edu/courses/csci1951-a/resources/yahoo_finance.html"
page = BeautifulSoup(requests.get(url).content, 'html.parser')

In [31]:
len(page.find_all("table"))

1

In [32]:
table_part = page.find("table")

In [37]:
colnames = [x.text for x in table_part.find_all("th")]

In [38]:
colnames

['Symbol',
 'Name',
 'Price (Intraday)',
 'Change',
 '% Change',
 'Volume',
 'Avg Vol (3 month)',
 'Market Cap',
 'PE Ratio (TTM)',
 '52 Week Range']

In [41]:
values = [x.text for x in table_part.find_all("td")]
values = np.array(values).reshape(-1, 10)

In [43]:
stock= pd.DataFrame(data=values, columns=colnames) 
stock

,Symbol,Name,Price (Intraday),Change,% Change,Volume,Avg Vol (3 month),Market Cap,PE Ratio (TTM),52 Week Range
0,GE,General Electric Company,10.19,+0.01,+0.05%,100.948M,132.455M,88.677B,N/A,
1,P,"Pandora Media, Inc.",0.0000,-8.3800,-100.00%,76.19M,12.809M,0,-0.00,
2,AMD,"Advanced Micro Devices, Inc.",24.13,-0.38,-1.55%,69.435M,102.925M,24.116M,75.41,
3,CRON,Cronos Group Inc.,23.25,+2.44,+11.73%,67.145M,12.146M,4.111B,N/A,
4,ACB,Aurora Cannabis Inc.,8.03,+0.63,+8.51%,66.479M,16.618M,7.92B,37.18,
...,...,...,...,...,...,...,...,...,...,...
95,GM,General Motors Company,38.93,+0.15,+0.39%,7.082M,11.799M,54.946B,74.58,
96,KGC,Kinross Gold Corporation,3.3500,-0.0200,-0.59%,6.996M,16.997M,4.113B,19.36,
97,FLEX,Flex Ltd.,9.42,+0.02,+0.21%,7.296M,7.975M,4.96B,36.23,
98,BABA,Alibaba Group Holding Limited,166.70,-1.27,-0.76%,6.82M,17.708M,432.116B,47.67,
99,NYCB,"New York Community Bancorp, Inc.",11.84,-0.13,-1.09%,6.793M,7.804M,5.607B,14.99,

In [44]:
#company name
#price
#market cap
#percentage daily change
stock[['Name', 'Price (Intraday)', 'Market Cap', '% Change']]

                                Name Price (Intraday) Market Cap  % Change
0           General Electric Company            10.19    88.677B    +0.05%
1                Pandora Media, Inc.           0.0000          0  -100.00%
2       Advanced Micro Devices, Inc.            24.13    24.116M    -1.55%
3                  Cronos Group Inc.            23.25     4.111B   +11.73%
4               Aurora Cannabis Inc.             8.03      7.92B    +8.51%
..                               ...              ...        ...       ...
95            General Motors Company            38.93    54.946B    +0.39%
96          Kinross Gold Corporation           3.3500     4.113B    -0.59%
97                         Flex Ltd.             9.42      4.96B    +0.21%
98     Alibaba Group Holding Limited           166.70   432.116B    -0.76%
99  New York Community Bancorp, Inc.            11.84     5.607B    -1.09%

[100 rows x 4 columns]

## Scraping Covid Data

Wikipedia [https://en.wikipedia.org/wiki/Template:COVID-19_pandemic_data](https://en.wikipedia.org/wiki/Template:COVID-19_pandemic_data) has the real time Covid data for each of the countries. 

We’re going to want to collect the Covid table:

* Construct a Pandas dataframe containing the following columns: **Cases, Deaths, Recoveries, Death Rate, Recovery Rate**

**Hint**: Worldwide data are contained in `th` instead of `td`. You need to address that issue.

In [ ]:
"""Your code here"""

In [45]:
url = "https://en.wikipedia.org/wiki/Template:COVID-19_pandemic_data"
page = BeautifulSoup(requests.get(url).content, 'html.parser')

In [50]:
page.find_all('table')[0]
headers = page.find_all('table')[0].find_all('th')

In [58]:
headers = [x.text.replace('\n', '') for x in headers]

In [55]:
values = [x.text.replace('\n', '') for x in page.find_all('table')[0].find_all('td')]

In [56]:
values

['11,592,276',
 '253,940',
 '6,098,053',
 '[9]',
 '8,912,907',
 '130,993',
 '8,335,109',
 '[10]',
 '5,947,403',
 '167,497',
 '5,389,863',
 '[11][12]',
 '2,065,138',
 '46,698',
 '145,391',
 '[13][14]',
 '1,991,998',
 '34,387',
 '1,501,083',
 '[15]',
 '1,525,341',
 '42,039',
 'No data',
 '[16]',
 '1,430,341',
 '53,274',
 'No data',
 '[18]',
 '1,339,324',
 '36,347',
 '1,156,461',
 '[20]',
 '1,272,352',
 '47,217',
 '481,967',
 '[21]',
 '1,218,003',
 '34,563',
 '1,125,184',
 '[22]',
 '1,015,071',
 '99,528',
 '762,025',
 '[23]',
 '939,931',
 '35,317',
 '867,306',
 '[24][25]',
 '854,533',
 '13,236',
 '546,372',
 '[27][26]',
 '801,894',
 '42,941',
 '576,983',
 '[28]',
 '772,823',
 '11,451',
 '342,883',
 '[29]',
 '757,144',
 '20,556',
 '701,534',
 '[30][31]',
 '570,153',
 '10,112',
 '259,079',
 '[32][33]',
 '540,605',
 '14,839',
 'No data',
 '[35][36]',
 '534,558',
 '14,897',
 '510,766',
 '[40]',
 '526,852',
 '11,795',
 '455,176',
 '[41]',
 '478,720',
 '15,503',
 '402,347',
 '[42]',
 '475,284',
 '6,740',
 '367,574',
 '[43]',
 '461,612',
 '8,698',
 'No data',
 '[45][46]',
 '438,795',
 '6,275',
 '354,788',
 '[47][48]',
 '425,628',
 '11,820',
 '361,655',
 '[50]',
 '412,097',
 '7,957',
 '374,666',
 '[51][52]',
 '383,743',
 '9,429',
 '261,387',
 '[53][54]',
 '363,380',
 '7,230',
 '325,788',
 '[55]',
 '354,208',
 '5,710',
 '341,515',
 '[56]',
 '326,331',
 '2,739',
 '315,318',
 '[57]',
 '311,109',
 '11,186',
 '248,321',
 '[60]',
 '306,995',
 '5,013',
 '253,351',
 '[61]',
 '280,648',
 '3,385',
 '180,700',
 '[62][63]',
 '236,015',
 '3,632',
 '153,702',
 '[64][65]',
 '221,688',
 '2,054',
 '142,738',
 '[66]',
 '212,917',
 '1,259',
 '182,780',
 '[67]',
 '196,446',
 '6,321',
 'No data',
 '[68]',
 '182,250',
 '13,052',
 '160,639',
 '[69][70]',
 '163,926',
 '1,969',
 'No data',
 '[71]',
 '156,949',
 '3,380',
 '34,846',
 '[72]',
 '154,101',
 '542',
 '145,537',
 '[73]',
 '149,833',
 '2,907',
 '129,755',
 '[74]',
 '143,569',
 '8,875',
 '118,333',
 '[75]',
 '138,337',
 '857',
 '129,839',
 '[76]',
 '136,441',
 '235',
 '133,473',
 '[77]',
 '135,157',
 '2,293',
 '110,871',
 '[78]',
 '127,012',
 '1,588',
 '78,238',
 '[79]',
 '122,335',
 '1,899',
 '110,835',
 '[80][81]',
 '121,129',
 '1,360',
 '112,014',
 '[82][83]',
 '120,815',
 '1,913',
 '105,697',
 '[84]',
 '120,459',
 '1,839',
 '80,069',
 '[85]',
 '118,008',
 '1,067',
 '98,318',
 '[86]',
 '116,381',
 '4,008',
 '105,708',
 '[87]',
 '111,613',
 '6,495',
 '101,421',
 '[88]',
 '110,536',
 '2,530',
 '32,480',
 '[89][90]',
 '110,037',
 '852',
 '62,528',
 '[91]',
 '103,928',
 '1,601',
 '64,593',
 '[92][93]',
 '103,488',
 '2,839',
 '45,082',
 '[94][95]',
 '98,050',
 '858',
 '93,084',
 '[96]',
 '97,988',
 '1,081',
 'No data',
 '[97]',
 '92,519',
 '2,077',
 '74,229',
 '[98]',
 '90,715',
 '1,151',
 '72,673',
 '[99]',
 '89,913',
 '579',
 '35,924',
 '[100]',
 '89,395',
 '815',
 '71,468',
 '[101]',
 '86,369',
 '4,634',
 '81,411',
 '[102]',
 '85,182',
 '337',
 '83,087',
 '[103]',
 '83,772',
 '2,541',
 '57,229',
 '[104]',
 '82,034',
 '1,288',
 'No data',
 '[105]',
 '81,397',
 '1,030',
 '58,111',
 '[106]',
 '75,577',
 '2,089',
 '39,886',
 '[107]',
 '75,465',
 '1,053',
 '46,127',
 '[108][109]',
 '73,639',
 '1,624',
 '52,608',
 '[110]',
 '73,322',
 '1,650',
 '54,764',
 '[111]',
 '72,686',
 '1,313',
 '49,878',
 '[112]',
 '70,781',
 '599',
 '68,042',
 '[113]',
 '70,629',
 '2,206',
 '46,326',
 '[114][115]',
 '69,058',
 '2,006',
 '25,003',
 '[116][117]',
 '67,894',
 '1,212',
 '58,846',
 '[118]',
 '66,186',
 '589',
 '56,843',
 '[119]',
 '65,808',
 '770',
 '51,217',
 '[120][121]',
 '65,693',
 '1,163',
 '61,457',
 '[122]',
 '58,964',
 '919',
 'No data',
 '[123][124]',
 '58,135',
 '28',
 '58,046',
 '[125]',
 '50,457',
 '323',
 '48,710',
 '[126]',
 '50,390',
 '322',
 '37,254',
 '[127]',
 '50,015',
 '1,397',
 '29,583',
 '[128][129]',
 '43,851',
 '1,645',
 '35,295',
 '[130]',
 '43,031',
 '971',
 'No data',
 '[131][132]',
 '38,810',
 '323',
 '9,362',
 '[133][134]',
 '36,965',
 '1,056',
 '33,517',
 '[135]',
 '31,215',
 '860',
 '18,347',
 '[136]',
 '30,770',
 '300',
 '19,025',
 '[139]',
 '29,837',
 '646',
 '14,216',
 '[140][141]',
 '29,654',
 '498',
 '26,098',
 '[142][143]',
 '29,031',
 '414',
 '18,410',
 '[144]',
 '28,573',
 '248',
 '18,504',
 '[145]',
 '27,777',
 '907',
 '25,506',
 '[146]',
 '22,692',
 '433',
 '21,510',
 '[147][148]',
 '21,045',
 '129',
 '20,712',
 '[149]',
 '19,935',
 '374',
 '15,300',
 '[152]',
 '18,402',
 '69',
 '12,587',
 '[153][154]',
 '17,310',
 '250',
 '16,592',
 '[155]',
 '17,097',
 '350',
 '16,137',
 '[156][157]',
 '16,905',
 '157',
 '8,394',
 '[158][159]',
 '15,779',
 '327',
 '15,407',
 '[160]',
 '15,047',
 '1,175',
 '9,609',
 '[161][162]',
 '14,566',
 '118',
 '12,646',
 '[163]',
 '13,818',
 '328',
 '6,582',
 '[164]',
 '13,449',
 '138',
 '12,467',
 '[165]',
 '12,585',
 '74',
 '11,041',
 '[166][167]',
 '12,362',
 '61',
 '5,167',
 '[168][169]',
 '12,355',
 '45',
 '11,388',
 '[170]',
 '11,760',
 '319',
 '11,086',
 '[171]',
 '11,573',
 '85',
 '10,934',
 '[172]',
 '10,914',
 '131',
 '1,515',
 '[173]',
 '9,780',
 '102',
 '9,148',
 '[174]',
 '9,780',
 '229',
 '5,228',
 '[175][176]',
 '9,168',
 '232',
 '7,701',
 '[177]',
 '9,062',
 '58',
 '8,939',
 '[178]',
 '8,788',
 '791',
 '4,171',
 '[179]',
 '8,786',
 '257',
 '8,096',
 '[180]',
 '8,420',
 '103',
 '6,184',
 '[181][182]',
 '8,304',
 '85',
 '5,120',
 '[183][184]',
 '7,948',
 '165',
 '7,516',
 '[185][186]',
 '7,568',
 '131',
 '7,015',
 '[187]',
 '7,163',
 '155',
 '5,282',
 '[188][189]',
 '7,051',
 '39',
 '2,021',
 '[190][191]',
 '6,820',
 '27',
 '5,559',
 '[193]',
 '6,613',
 '341',
 '2,665',
 '[194]',
 '6,135',
 '113',
 '5,460',
 '[195][196]',
 '6,093',
 '119',
 '5,771',
 '[197]',
 '5,965',
 '93',
 '3,942',
 '[9][198]',
 '5,964',
 '185',
 '5,399',
 '[199]',
 '6,018',
 '76',
 '5,055',
 '[200]',
 '5,661',
 '158',
 '4,225',
 '[201]',
 '5,645',
 '61',
 '5,519',
 '[202]',
 '5,515',
 '92',
 '3,887',
 '[203][204]',
 '5,480',
 '108',
 '5,224',
 '[205]',
 '5,394',
 '42',
 '4,994',
 '[206][207]',
 '5,278',
 '116',
 '5,157',
 '[208]',
 '5,186',
 '25',
 '4,767',
 '[209]',
 '5,104',
 '85',
 '4,973',
 '[210]',
 '4,890',
 '140',
 '3,980',
 '[211]',
 '4,866',
 '62',
 '1,924',
 '[212]',
 '4,715',
 '85',
 '2,539',
 '[213]',
 '4,685',
 '45',
 '4,558',
 '[214]',
 '4,301',
 '107',
 '3,330',
 '[215]',
 '4,296',
 '68',
 '3,404',
 '[216][217]',
 '3,880',
 '60',
 '3,729',
 '[218]',
 '3,868',
 '139',
 '2,937',
 '[219]',
 '3,702',
 '122',
 '3,567',
 '[220]',
 '3,003',
 '59',
 '1,290',
 '[221][222]',
 '2,844',
 '43',
 '2,515',
 '[223][224]',
 '2,651',
 '61',
 '1,885',
 '[225]',
 '2,635',
 '68',
 '2,426',
 '[226][227]',
 '2,579',
 '27',
 '1,167',
 '[228]',
 '2,419',
 '43',
 '2,255',
 '[229][230]',
 '2,397',
 '74',
 '1,823',
 '[231][232]',
 '2,073',
 '605',
 '1,399',
 '[233]',
 '2,041',
 '44',
 '1,056',
 '[234][235]',
 '1,669',
 '121',
 '1,391',
 '[236]',
 '1,649',
 '25',
 '1,563',
 '[237]',
 '1,551',
 '99',
 '1,394',
 '[238]',
 '1,452',
 '82',
 '1,311',
 '[239]',
 '1,415',
 '2',
 '946',
 '[240]',
 '1,405',
 '23',
 '1,345',
 '[241]',
 '1,307',
 '70',
 '1,148',
 '[242]',
 '1,300',
 '35',
 '1,124',
 '[243]',
 '1,188',
 '37',
 '972',
 '[244][245]',
 '1,114',
 '42',
 '789',
 '[246]',
 '1,102',
 '1',
 '751',
 '[247][248]',
 '1,081',
 '0',
 '0',
 '[249]',
 '1,002',
 '8',
 '796',
 '[253]',
 '976',
 '5',
 '916',
 '[254]',
 '967',
 '16',
 '920',
 '[255]',
 '954',
 '24',
 '867',
 '[256]',
 '887',
 '1',
 '742',
 '[257]',
 '720',
 '6',
 '695',
 '[258]',
 '712',
 '14',
 '653',
 '[259][260]',
 '672',
 '32',
 '534',
 '[261]',
 '607',
 '7',
 '541',
 '[263]',
 '599',
 '7',
 '585',
 '[264]',
 '591',
 '7',
 '558',
 '[265]',
 '589',
 '1',
 '511',
 '[266]',
 '497',
 '0',
 '494',
 '[267][268]',
 '491',
 '0',
 '438',
 '[269]',
 '490',
 '2',
 '369',
 '[270]',
 '473',
 '0',
 '329',
 '[271]',
 '453',
 '10',
 '416',
 '[272]',
 '404',
 '2',
 '337',
 '[273]',
 '378',
 '0',
 '356',
 '[274]',
 '359',
 '25',
 '324',
 '[275]',
 '303',
 '0',
 '291',
 '[276]',
 '282',
 '13',
 '253',
 '[277]',
 '250',
 '1',
 '236',
 '[278]',
 '250',
 '7',
 '238',
 '[279]',
 '214',
 '9',
 '182',
 '[280]',
 '178',
 '2',
 '60',
 '[281]',
 '153',
 '0',
 '149',
 '[282][283]',
 '148',
 '0',
 '148',
 '[284][285]',
 '148',
 '3',
 '143',
 '[286][287]',
 '134',
 '3',
 '126',
 '[288]',
 '128',
 '1',
 'No data',
 '[289][290]',
 '128',
 '3',
 '117',
 '[291][292]',
 '100',
 '2',
 '19',
 '[293][294]',
 '90',
 '0',
 '90',
 '[273]',
 '83',
 '0',
 '77',
 '[295][296]',
 '71',
 '1',
 '70',
 '[297]',
 '68',
 '0',
 '41',
 '[298][299]',
 '46',
 '0',
 '46',
 '[300]',
 '35',
 '2',
 '32',
 '[301][302]',
 '30',
 '0',
 '29',
 '[303]',
 '28',
 '2',
 '26',
 '[304]',
 '28',
 '0',
 '24',
 '[305][306]',
 '28',
 '0',
 '28',
 '[307]',
 '27',
 '0',
 '15',
 '[308][309]',
 '25',
 '0',
 '23',
 '[310]',
 '19',
 '0',
 '19',
 '[311]',
 '17',
 '0',
 '17',
 '[312][313]',
 '16',
 '0',
 '13',
 '[314]',
 '16',
 '0',
 '12',
 '[315][316]',
 '14',
 '0',
 '4',
 '[317]',
 '13',
 '1',
 '12',
 '[318]',
 '13',
 '4',
 'No data',
 '[321][322]',
 '13',
 '0',
 '4',
 '[323]',
 '12',
 '3',
 'No data',
 '[325]',
 '8',
 '0',
 '8',
 '[326][329]',
 '8',
 '0',
 'No data',
 '[330][331]',
 '5',
 '0',
 '5',
 '[332]',
 '3',
 '0',
 '3',
 '[333]',
 '2',
 '0',
 '2',
 '[334]',
 '2',
 '0',
 '1',
 '[335]',
 '1',
 '0',
 '0',
 '[336]',
 '1',
 '0',
 '0',
 '[337]',
 'No data',
 'No data',
 'No data',
 '[339][340]',
 'As of 19 November 2020 (UTC) · History of cases · History of deaths',

In [70]:
headers[7:11]

['56,166,387', '1,347,778', '36,091,767', '[2]']

In [60]:
colnames = headers[1:5]

In [61]:
colnames

['Cases[b]', 'Deaths[c]', 'Recov.[d]', 'Ref.']

In [62]:
rownames = [headers[6]] + headers[12::2]

In [63]:
rownames

['World[e]',
 'United States[f]',
 'India',
 'Brazil',
 'France[g]',
 'Russia[h]',
 'Spain[i]',
 'United Kingdom[j]',
 'Argentina[k]',
 'Italy',
 'Colombia',
 'Mexico',
 'Peru',
 'Germany[l]',
 'Iran',
 'Poland',
 'South Africa',
 'Ukraine[m]',
 'Belgium[n]',
 'Chile[o]',
 'Iraq',
 'Indonesia',
 'Czech Republic',
 'Netherlands[p]',
 'Bangladesh',
 'Turkey[q]',
 'Philippines',
 'Romania',
 'Pakistan',
 'Saudi Arabia',
 'Israel[r]',
 'Canada[s]',
 'Morocco[t]',
 'Switzerland[u]',
 'Portugal',
 'Austria',
 'Nepal',
 'Sweden',
 'Ecuador',
 'Jordan',
 'Hungary',
 'United Arab Emirates',
 'Panama',
 'Bolivia',
 'Kuwait',
 'Qatar',
 'Dominican Republic',
 'Costa Rica',
 'Kazakhstan',
 'Oman',
 'Japan[v]',
 'Armenia',
 'Belarus',
 'Guatemala',
 'Egypt[w]',
 'Bulgaria',
 'Lebanon',
 'Ethiopia',
 'Honduras',
 'Venezuela',
 'Serbia[x]',
 'Moldova[y]',
 'Croatia',
 'Slovakia',
 'Georgia[z]',
 'China[aa]',
 'Bahrain',
 'Tunisia',
 'Greece',
 'Azerbaijan[ab]',
 'Bosnia and Herzegovina',
 'Libya',
 'Paraguay',
 'Myanmar',
 'Kenya',
 'Uzbekistan',
 'Algeria',
 'Ireland',
 'Kyrgyzstan',
 'Palestine',
 'Denmark[ac]',
 'Nigeria',
 'Slovenia',
 'Singapore',
 'Ghana',
 'Malaysia',
 'North Macedonia',
 'Afghanistan',
 'Puerto Rico',
 'Lithuania',
 'El Salvador',
 'Kosovo',
 'Norway[ad]',
 'Albania',
 'South Korea',
 'Montenegro',
 'Luxembourg',
 'Australia[ae]',
 'Cameroon',
 'Ivory Coast',
 'Finland[af]',
 'Sri Lanka',
 'Madagascar',
 'Zambia',
 'Uganda',
 'Senegal',
 'Sudan',
 'Mozambique',
 'Angola',
 'Namibia',
 'Guinea',
 'French Polynesia',
 'Maldives',
 'DR Congo[ag]',
 'Tajikistan',
 'Latvia',
 'Cape Verde',
 'Jamaica',
 'Haiti',
 'Gabon',
 'Donetsk PR[ah]',
 'Zimbabwe',
 'Malta',
 'Estonia',
 'Mauritania',
 'Cuba[ai]',
 'Bahamas[aj]',
 'Cyprus[ak]',
 'Botswana[al]',
 'Syria[am]',
 'Trinidad and Tobago',
 'Eswatini',
 'Guam[an]',
 'Malawi',
 'Andorra',
 'Nicaragua',
 'Djibouti',
 'Congo[ao]',
 'Hong Kong',
 'Rwanda',
 'Suriname',
 'Iceland',
 'Equatorial Guinea',
 'Guyana',
 'Central African Republic',
 'Belize',
 'Aruba',
 'Somalia[ap]',
 'Uruguay[aq]',
 'Thailand',
 'Mali',
 'The Gambia',
 'South Sudan',
 'Benin',
 'Togo',
 'Burkina Faso',
 'Abkhazia[ar]',
 'Guinea-Bissau',
 'Sierra Leone',
 'Yemen',
 'Lesotho',
 'Luhansk PR[ah]',
 'New Zealand',
 'Chad',
 'Liberia',
 'Curaçao',
 'U.S. Virgin Islands',
 'Niger',
 'Vietnam',
 'Somaliland[as]',
 'San Marino',
 'USS Theodore Roosevelt[an]',
 'Charles de Gaulle[at]',
 'Liechtenstein',
 'Northern Cyprus[au]',
 'São Tomé and Príncipe',
 'Sint Maarten',
 'Gibraltar',
 'Turks and Caicos Islands',
 'Diamond Princess[v]',
 'Jersey',
 'Taiwan[av]',
 'Papua New Guinea',
 'Comoros',
 'Burundi',
 'Faroe Islands',
 'Eritrea',
 'Monaco',
 'Mongolia',
 'Mauritius',
 'Artsakh[aw]',
 'Bhutan',
 'Isle of Man[ax]',
 'Cambodia',
 'Guernsey',
 'Cayman Islands',
 'Barbados',
 'Bermuda',
 'Saint Lucia',
 'Seychelles',
 'Costa Atlantica',
 'Brunei',
 'Bonaire',
 'Greg Mortimer[aq]',
 'Antigua and Barbuda',
 'Northern Mariana Islands ',
 'South Ossetia[ay]',
 'Saint Vincent[az]',
 'British Virgin Islands',
 'Dominica',
 'Macau',
 'Fiji',
 'East Timor',
 'Sahrawi Arab DR[ba]',
 'Grenada',
 'New Caledonia',
 'Vatican City',
 'Laos',
 'Saint Kitts and Nevis',
 'Greenland',
 'Falkland Islands',
 'Saint Pierre and Miquelon',
 'Sint Eustatius',
 'Montserrat',
 'MS Zaandam[bb]',
 'Solomon Islands',
 'Coral Princess[bc]',
 'HNLMS Dolfijn[bd]',
 'SeaDream I[be]',
 'Saba',
 'Anguilla',
 'Marshall Islands',
 'Wallis and Futuna',
 'Samoa',
 'Vanuatu',
 'Tanzania[bf]']

In [66]:
rownames = [x.split('[')[0] for x in rownames]
rownames

['World',
 'United States',
 'India',
 'Brazil',
 'France',
 'Russia',
 'Spain',
 'United Kingdom',
 'Argentina',
 'Italy',
 'Colombia',
 'Mexico',
 'Peru',
 'Germany',
 'Iran',
 'Poland',
 'South Africa',
 'Ukraine',
 'Belgium',
 'Chile',
 'Iraq',
 'Indonesia',
 'Czech Republic',
 'Netherlands',
 'Bangladesh',
 'Turkey',
 'Philippines',
 'Romania',
 'Pakistan',
 'Saudi Arabia',
 'Israel',
 'Canada',
 'Morocco',
 'Switzerland',
 'Portugal',
 'Austria',
 'Nepal',
 'Sweden',
 'Ecuador',
 'Jordan',
 'Hungary',
 'United Arab Emirates',
 'Panama',
 'Bolivia',
 'Kuwait',
 'Qatar',
 'Dominican Republic',
 'Costa Rica',
 'Kazakhstan',
 'Oman',
 'Japan',
 'Armenia',
 'Belarus',
 'Guatemala',
 'Egypt',
 'Bulgaria',
 'Lebanon',
 'Ethiopia',
 'Honduras',
 'Venezuela',
 'Serbia',
 'Moldova',
 'Croatia',
 'Slovakia',
 'Georgia',
 'China',
 'Bahrain',
 'Tunisia',
 'Greece',
 'Azerbaijan',
 'Bosnia and Herzegovina',
 'Libya',
 'Paraguay',
 'Myanmar',
 'Kenya',
 'Uzbekistan',
 'Algeria',
 'Ireland',
 'Kyrgyzstan',
 'Palestine',
 'Denmark',
 'Nigeria',
 'Slovenia',
 'Singapore',
 'Ghana',
 'Malaysia',
 'North Macedonia',
 'Afghanistan',
 'Puerto Rico',
 'Lithuania',
 'El Salvador',
 'Kosovo',
 'Norway',
 'Albania',
 'South Korea',
 'Montenegro',
 'Luxembourg',
 'Australia',
 'Cameroon',
 'Ivory Coast',
 'Finland',
 'Sri Lanka',
 'Madagascar',
 'Zambia',
 'Uganda',
 'Senegal',
 'Sudan',
 'Mozambique',
 'Angola',
 'Namibia',
 'Guinea',
 'French Polynesia',
 'Maldives',
 'DR Congo',
 'Tajikistan',
 'Latvia',
 'Cape Verde',
 'Jamaica',
 'Haiti',
 'Gabon',
 'Donetsk PR',
 'Zimbabwe',
 'Malta',
 'Estonia',
 'Mauritania',
 'Cuba',
 'Bahamas',
 'Cyprus',
 'Botswana',
 'Syria',
 'Trinidad and Tobago',
 'Eswatini',
 'Guam',
 'Malawi',
 'Andorra',
 'Nicaragua',
 'Djibouti',
 'Congo',
 'Hong Kong',
 'Rwanda',
 'Suriname',
 'Iceland',
 'Equatorial Guinea',
 'Guyana',
 'Central African Republic',
 'Belize',
 'Aruba',
 'Somalia',
 'Uruguay',
 'Thailand',
 'Mali',
 'The Gambia',
 'South Sudan',
 'Benin',
 'Togo',
 'Burkina Faso',
 'Abkhazia',
 'Guinea-Bissau',
 'Sierra Leone',
 'Yemen',
 'Lesotho',
 'Luhansk PR',
 'New Zealand',
 'Chad',
 'Liberia',
 'Curaçao',
 'U.S. Virgin Islands',
 'Niger',
 'Vietnam',
 'Somaliland',
 'San Marino',
 'USS Theodore Roosevelt',
 'Charles de Gaulle',
 'Liechtenstein',
 'Northern Cyprus',
 'São Tomé and Príncipe',
 'Sint Maarten',
 'Gibraltar',
 'Turks and Caicos Islands',
 'Diamond Princess',
 'Jersey',
 'Taiwan',
 'Papua New Guinea',
 'Comoros',
 'Burundi',
 'Faroe Islands',
 'Eritrea',
 'Monaco',
 'Mongolia',
 'Mauritius',
 'Artsakh',
 'Bhutan',
 'Isle of Man',
 'Cambodia',
 'Guernsey',
 'Cayman Islands',
 'Barbados',
 'Bermuda',
 'Saint Lucia',
 'Seychelles',
 'Costa Atlantica',
 'Brunei',
 'Bonaire',
 'Greg Mortimer',
 'Antigua and Barbuda',
 'Northern Mariana Islands ',
 'South Ossetia',
 'Saint Vincent',
 'British Virgin Islands',
 'Dominica',
 'Macau',
 'Fiji',
 'East Timor',
 'Sahrawi Arab DR',
 'Grenada',
 'New Caledonia',
 'Vatican City',
 'Laos',
 'Saint Kitts and Nevis',
 'Greenland',
 'Falkland Islands',
 'Saint Pierre and Miquelon',
 'Sint Eustatius',
 'Montserrat',
 'MS Zaandam',
 'Solomon Islands',
 'Coral Princess',
 'HNLMS Dolfijn',
 'SeaDream I',
 'Saba',
 'Anguilla',
 'Marshall Islands',
 'Wallis and Futuna',
 'Samoa',
 'Vanuatu',
 'Tanzania']

In [73]:
values = np.array(headers[7:11] + values[:(len(values)-2)]).reshape(-1, 4)

In [74]:
covid = pd.DataFrame(data = values, index=rownames, columns=colnames)

In [75]:
covid

                     Cases[b]  Deaths[c]   Recov.[d]        Ref.
World              56,166,387  1,347,778  36,091,767         [2]
United States      11,592,276    253,940   6,098,053         [9]
India               8,912,907    130,993   8,335,109        [10]
Brazil              5,947,403    167,497   5,389,863    [11][12]
France              2,065,138     46,698     145,391    [13][14]
...                       ...        ...         ...         ...
Marshall Islands            2          0           2       [334]
Wallis and Futuna           2          0           1       [335]
Samoa                       1          0           0       [336]
Vanuatu                     1          0           0       [337]
Tanzania              No data    No data     No data  [339][340]

[236 rows x 4 columns]

In [76]:
covid.dtypes

Cases[b]     object
Deaths[c]    object
Recov.[d]    object
Ref.         object
dtype: object

In [77]:
def func(x):
    return x.replace(',', '')

In [79]:
covid = covid.applymap(func)

In [80]:
covid.head(5)

               Cases[b] Deaths[c] Recov.[d]      Ref.
World          56166387   1347778  36091767       [2]
United States  11592276    253940   6098053       [9]
India           8912907    130993   8335109      [10]
Brazil          5947403    167497   5389863  [11][12]
France          2065138     46698    145391  [13][14]

In [84]:
covid = covid.replace(to_replace='No data', value=np.nan)

In [86]:
covid = covid.drop(columns=['Ref.'])

In [87]:
covid = covid.apply(pd.to_numeric, axis=1)

In [88]:
covid

                     Cases[b]  Deaths[c]   Recov.[d]
World              56166387.0  1347778.0  36091767.0
United States      11592276.0   253940.0   6098053.0
India               8912907.0   130993.0   8335109.0
Brazil              5947403.0   167497.0   5389863.0
France              2065138.0    46698.0    145391.0
...                       ...        ...         ...
Marshall Islands          2.0        0.0         2.0
Wallis and Futuna         2.0        0.0         1.0
Samoa                     1.0        0.0         0.0
Vanuatu                   1.0        0.0         0.0
Tanzania                  NaN        NaN         NaN

[236 rows x 3 columns]

In [ ]:
covid['recoveryRate'] = covid['Recov.[d]']